.home-container{
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 1.2rem;
}

.home-container > div {
    margin-bottom: 20px;
    width: 40%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 10px;
    background-color: var(--background-secondary);
}

.account-snapshot{
    position: absolute;
    align-self: end;
}

.home-container > div > * {
    margin-top: 5px;
}

.home-container > div > div > * {
    margin-top: 3px;
}